VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=market-sr.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://market-sr-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=market-sr
VITE_FIREBASE_STORAGE_BUCKET=market-sr.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id
VITE_ADMOB_ANDROID_APP_ID=ca-app-pub-3940256099942544~3347511713
VITE_ADMOB_ANDROID_BANNER_ID=ca-app-pub-3940256099942544/9214589741
VITE_ADMOB_ANDROID_TEST_MODE=true
VITE_ADMOB_TEST_DEVICE_IDS=
VITE_ADMOB_DEBUG_GEOGRAPHY=
